<section class="welcome-section">
    <div class="welcome-content welcome-section-third">
        <h3>Welcome to <br><span class="gold-text">BLOWN AWAY</span></h3>
        <h5>Hair and Wellness Salon</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non tellus in sem lobortis suscipit
            vitae nec mauris. In ac euismod nisl, vitae eleifend lorem.
        </p>
        <button class="btn btn-primary">meet the team</button>
    </div>
    <div class="welcome-image welcome-section-third">
        <img src="assets/images/beautiful-woman-with-curls-makeup.png" alt="woman with curls">
    </div>
    <div class="welcome-opening-hours welcome-section-third">
        <h3 class="gold-text">OPENING HOURS</h3>
        <hr>
        <div class="opening-hours-container">
            <div class="opening-houts-row">
                <h6>Mon-Fri</h6>
                <p>10:00 AM - 7:00 PM</p>
            </div>
            <div class="opening-houts-row">
                <h6>Saturday</h6>
                <p>10:00 AM - 5:00 PM</p>
            </div>
            <div class="opening-houts-row">
                <h6>Sunday</h6>
                <p>CLOSED</p>
            </div>
        </div>
        <div class="welcome-cta">BOOK NOW</div>
    </div>
</section>
