<header>
    <nav class="main-nav">
        <div class="logo-container">
            <img src="assets/images/logo.svg" alt="logo">
        </div>
        <ul class="navigation-items">
            <li class="nav-item"><a href="#">HOME</a></li>
            <li class="nav-item"><a href="#">shop</a></li>
            <li class="nav-item"><a href="#">services</a></li>
            <li class="nav-item"><a href="#">our team</a></li>
            <li class="nav-item"><a href="#">contacts</a></li>
            <li class="nav-item"><a class="no-underline" href="#"><i class="far fa-user-circle"></i></a></li>
            <li class="nav-item nav-cta"><a class="no-underline" href="#"><span class="nav-cta-text">book
                        <br></span>online</a></li>
        </ul>
    </nav>
    <div class="hero">
        <div class="hero-content">
            <h1><span class="big-text">HAIRSTYLES</span> <br> THAT <span class="gold-text">BLOW</span> YOUR MIND
            </h1>
            <h4>YOUR TREND. YOUR STYLE. YOUR COLOUR. </h4>
            <button class="btn btn-light">book now</button>
        </div>
    </div>
</header>
